<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/estilos.css" />
  </head>
  <body>
    <div class="contenedor">
      <h1>Formulari contacto</h1>

      <div class="contenido">
        <div class="info">
          <div class="col">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>Av. 26 de Julio Nro. 8 Ciudad-Pais</p>
          </div>

          <div class="col">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p>consulta@correo.com</p>
          </div>

          <div class="col">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>
              (01) 6262-222 <br /> (01) 3343-543
            </p>
          </div>


          <div class="redes-s">
            <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          </div>

        </div>
      </div>
    

      <form action="" method="GET" class="formulario">
        <input type="text" name="nombre" placeholder="Nombre" id="nombre" />
        <input
          type="text"
          name="correo"
          placeholder="Correo electronico"
          id="correo"
        />
        <input type="text" name="asunto" placeholder="Asunto" id="asunto" />
        <textarea name="mensaje" placeholder="Mensaje" id="mensaje"></textarea>
        <button type="button">Enviar</button>
      </form>
    </div>
  </body>
</html>
