<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"
        defer></script>

    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
        defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/Styles/categorias.css">
</head>

<body>
    <header>
        <h1>hola gente</h1>
    </header>
    <main>
        <section>
            <div class="destacado">

            </div>
        </section>
        <section>

            <!-- Categoria 1-->
            <div class="categorias">
                <h2>Categoría 1</h2>
                <div class="swiffy-slider slider-item-show5">
                    <ul class="slider-container m-5">
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/gh2bmprLtUQ8oXCSluzfqaicyrm.jpg"
                                width="100%" alt="...">
                            </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/kUAG4ZQcsNbRyiPyAr3hLdsVgAq.jpg"
                                width="100%" alt="...">
                            </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/uYNgC4Zd9NMcpMVug9NTgeIqfTy.jpg"
                                width="100%" alt="...">
                            </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/o4Ql7oU2W3U8RyeDoSREDdKvTlq.jpg"
                            width="100%" alt="...">
                           </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/kUAG4ZQcsNbRyiPyAr3hLdsVgAq.jpg"
                                width="100%" alt="...">
                               </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/uYNgC4Zd9NMcpMVug9NTgeIqfTy.jpg"
                                width="100%" alt="...">
                                </a>
                        </li>
                        
                    </ul>

                    <button type="button" class="slider-nav"></button>
                    <button type="button" class="slider-nav slider-nav-next"></button>

                                    </div>
                </div>

            </div>
            <!-- Categoria 2 -->
            <div class="categorias">
                <h2>Categoría 2</h2>
                <div class="swiffy-slider slider-item-show5">
                    <ul class="slider-container m-5">
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/gh2bmprLtUQ8oXCSluzfqaicyrm.jpg"
                                width="100%" alt="...">
                            </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/kUAG4ZQcsNbRyiPyAr3hLdsVgAq.jpg"
                                width="100%" alt="...">
                            </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/uYNgC4Zd9NMcpMVug9NTgeIqfTy.jpg"
                                width="100%" alt="...">
                            </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/o4Ql7oU2W3U8RyeDoSREDdKvTlq.jpg"
                            width="100%" alt="...">
                           </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/kUAG4ZQcsNbRyiPyAr3hLdsVgAq.jpg"
                                width="100%" alt="...">
                               </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/uYNgC4Zd9NMcpMVug9NTgeIqfTy.jpg"
                                width="100%" alt="...">
                                </a>
                        </li>
                        
                    </ul>

                    <button type="button" class="slider-nav"></button>
                    <button type="button" class="slider-nav slider-nav-next"></button>

                                    </div>
                </div>

            </div>
            <!-- Categoria 3 -->
            <div class="categorias">
                <h2>Categoría 3</h2>
                <div class="swiffy-slider slider-item-show5">
                    <ul class="slider-container m-5">
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/gh2bmprLtUQ8oXCSluzfqaicyrm.jpg"
                                width="100%" alt="...">
                            </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/kUAG4ZQcsNbRyiPyAr3hLdsVgAq.jpg"
                                width="100%" alt="...">
                            </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/uYNgC4Zd9NMcpMVug9NTgeIqfTy.jpg"
                                width="100%" alt="...">
                            </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/o4Ql7oU2W3U8RyeDoSREDdKvTlq.jpg"
                            width="100%" alt="...">
                           </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/kUAG4ZQcsNbRyiPyAr3hLdsVgAq.jpg"
                                width="100%" alt="...">
                               </a>
                        </li>
                        <li>
                            <a href="http://">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/uYNgC4Zd9NMcpMVug9NTgeIqfTy.jpg"
                                width="100%" alt="...">
                                </a>
                        </li>
                        
                    </ul>

                    <button type="button" class="slider-nav"></button>
                    <button type="button" class="slider-nav slider-nav-next"></button>

                                    </div>
                </div>

            </div>
        </section>
    </main>

</body>

</html>