<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Styles/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
  <title>Login</title>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"
  defer
></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
  <script src="../javascript/login.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"defer></script>
</head>
<body class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-md  fw-bold shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="container justify-content-center">
            <div class="row justify-content-between w-100">
                <div class="col-sm-6 col-md-4 d-flex justify-content-between">
                    <div>
                        <a class="navbar-brand" href="/views/index.html">
                            <img src="/assets/logo/logo2-removebg-preview.png" alt="logo principal" width="190"
                                height="70" />
                        </a>
                    </div>
                    <div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8 collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-lg-0 d-flex justify-content-end gap-2 w-100">
                        <li class="nav-item">
                            <a class="nav-link p-1 me-2"  aria-current="page"
                                href="/views/index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 me-2"  href="../views/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 me-2" 
                                href="../views/nosotros.html">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 me-2" 
                                href="../views/login.html">Login</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

</header>
  <main class="d-flex justify-content-center">
    <div class="login my-3 ">
      <div class="avatar">
        <img classs="avatar" src="/assets/avatar/47774.png">
      </div>
      <h2>Login</h2>
      <h3>Bienvenido de nuevo <!--nombre de usuario--> </h3>
      <form class="login-form" id="loginForm">
        <div class="textbox">
          <input type="email" placeholder="Usuario" required id="emailLogin">
        </div>
        <div class="textbox">
          <input type="password" placeholder="contraseña" required id="passwordLogin">
        </div>
        <button type="submit" id="">Login</button>
        <a href="" class="my-2 mx-2 text-center" required="false" data-bs-toggle="modal" data-bs-target="#exampleModal">Recuperar contraseña</a>
        <a href="" claass="my-2 mx-2 text-center" required="false" data-bs-toggle="modal" data-bs-target="#exampleModal2">Registrate aqui! </a>
      </form>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Recuperar contraseña</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Ingresa tu correo electronico para recuperar tu contraseña.</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required> <br>
              <p>Te llegará proximamente un correo con tu nueva contraseña.</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn" id="enviarMail">Enviar e-mail</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Regristarse</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleInputEmail2" class="form-label" >Ingrese su correo electronico</label>
              <input type="email" class="form-control" id="exampleInputEmail2" required> <br>
              <label for="exampleInputPassword" class="form-label">Ingrese su password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" required>
            </div>
          </div>
          <div class="container  my-5" id="registro"> 
            <div class="row text-center my-2">
              <div class="col-12 my-2">
                <p>Registrarse con:</p> 
              </div>
            </div>
            <div class="row flex-column">
              <div class=" mb-1">
                <button class="btn btn-outline-primary w-100 my-1" id="buttonRegister">
                  <a href="/views/page-error.html">
                  <div class="row align-items-center">
                    <div class="col-2 d-none d-md-block">
                      <img src="/assets/icons/icons8-facebook-60.png" alt="logo de facebook">
                    </div>
                    <div class="col-sm-12 col-12 col-md-10 text-lg-start">
                      Facebook
                    </div>
                  </div>
                </a>
                </button>  
              </div>
              <div>
                <button class="btn btn-outline-danger w-100 my-1" id="buttonRegister">
                  <a href="/views/page-error.html">
                  <div class="row align-items-center">
                    <div class="col-2 d-none d-xs-none d-md-block">
                      <img src="/assets/icons/icons8-logo-de-google-60.png" alt="logo de google">
                    </div>
                    <div class="col-sm-12 col-12 col-md-10 text-lg-start">
                      Google
                    </div>
                  </div>
                </a>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn" id="registrarse">Regristarse </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  <footer>
    <div class="container-fluid">
        <div
            class="row w-100 d-flex flex-column align-items-center"
        >
            <p class="text-center">Redes Sociales</p>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                
                <ul class="d-flex gap-5">
                    <li id="Facebook">
                        <a href="/views/page-error.html" target="_blank"
                            ><i class="bi bi-facebook"></i>
                            <span>Facebook</span>
                          </a>
                    </li>
                    <li id="Instagram">
                        <a href="/views/page-error.html" target="_blank"
                            ><i class="bi bi-instagram"></i>
                           <span> Instagram</span>
                          </a>
                    </li>
                    <li id="Youtube">
                        <a href="/views/page-error.html" target="_blank"
                            ><i class="bi bi-youtube"></i> 
                            <span> Youtube</span> 
                            </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
              <p>Todos los derechos reservados</p>
          </div>
        </div>
    </div>
  </footer>
</body>
</html>