body{

    background-color: #34343b
    ;
    color: #fc7c1c;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

table{
    background-color: #fdb37c;
    table-layout: initial;

}

td {
    min-width: 35px;
    height: 30px;
    background-color: #433;
    
  }

/* td {
    width: 10px;
    overflow:auto;
    height: 2px;
   
  } */



@media (max-width:426px){
    .contentResp{
        display: none;
    }
    .btnTable{
        width: 10vw;
        padding: 0;
        
    }
    /* .optionsMovie{ */
        /* display: flex; */
        
    /* } */
}