* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.bg {
  background-color: #171616;
  color: #fc7c1c;
}
.btn {
  text-decoration-color: #fc7c1c;
  -moz-text-decoration-color: #fc7c1c;
}
.img {
  opacity: 80%;
}
