header {
    background: linear-gradient(#6d3409, #34343B);
}
header a {
    -webkit-text-stroke: 1px black;
}
header .nav-link:hover {
    background-color: #fdb37c;
    border-radius: 5px;
}

footer {
    background: linear-gradient(#34343B, #6d3409);
    color: #fc7c1c;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #fc7c1c;
    -webkit-text-stroke: 1px black;
}

footer a:hover {
    color: #fdb37c;
    font-size: 1.7rem;
}
@media screen and (max-width: 425px){
    footer{
    font-size:1.1rem;
    }
}