main li img {
    border: #fc7c1c groove 5px;
    box-shadow:#974101 3px 2px  1px;
    border-radius: 5%;
}

main li :hover img{
border-radius: 5%;
border:groove;
}

#destacado {

}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    background:rgba(17,19,21, .5);
    position: absolute;
    font-size:1.6em;
    top:0;
}

@media screen and (max-width:660px) {
    .centrado{
       display:none;
    }
}

body , main {
    background-color:black;
}

@media (width >= 450px) {

}


@media scren and (min-width:476px) {
    main{
        display:none;   
     }
 }
 

