main li {
    border: #fc7c1c ridge 5px;
    box-shadow:#974101 5px 5px 4px;
}


main li :hover img{
border:groove;
}

#destacado {
    box-shadow:#974101 35px 5px 34px;
    ;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top:10vw;
    left:10vw;
}

.centrado{
    opacity:50%;
    top:15vw;
    position: absolute;
}

main {
    border: #34343B ridge;
}

body , main {
    background:linear-gradient(#34343B,#6d3409,#fdb37c,#6d3409,#34343B);
}