* { box-sizing:border-box;}

html, body { height: 100%; }

@keyframes pan {
    100% {background-position: 15% 50%; }
}

body {
    display:grid;
    place-items: center;
    margin:0;
    padding:0 24px;
    background-image: url(/assets/bg/low-poly-grid-haikei\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: 
    pan 6s infinite alternate linear;
}
#main {
  margin: 30px;
  padding:30px;
  background-color: #000;
  opacity:0.90;
}
    .testimotionals .card {
      
      position:relative;
      overflow:hidden;
      width:10rem;
      height:25rem ;
      margin:0 auto;
      background:#333;
      padding:20px;
      box-sizing:border-box;
      text-align:center;
      box-shadow:0 10px 40px rgba(0,0,0,.5);
    }
    .testimotionals .card .layer {
      z-index:1;
      position:absolute;
      top:calc(100% - 2px);
      height:100%;
      width:100%;
      left:0;
      background:linear-gradient(to left , orange, tomato);
      transition:0.5s;
      
    }
    
    .testimotionals .card .content {
      z-index:2; 
      position:relative;
    }
    
    .testimotionals .card:hover  .layer{
      top:0;
    }
    
    .testimotionals .card .content p {
      line-height:24px;
      color:#fff;
      height: 16vh;
      
    }
    .testimotionals .card .content .image {
      width:100px; 
      height:100px;
      margin:0 auto;
      border-radius:50%;
      overflow:hidden;
      border: 4px solid white;
      box-shadow: 0 10px 40px rgba(0,0,0,0.5);
      
    }
    
    .testimotionals .card .conte nt .details p {
    color:white;
    margin-top: 30px;
    }
    .testimotionals .card .content .details p span {
    color:#fc7c1c;
      transition:0.5s;
      margin-top: 10px;
    
    }
    .testimotionals .card:hover .content .details p span {
      color:white;
      position:relative;
    }
    