
body {
    background-image: url(/assets/bg/peakpx\ \(5\).jpg);
    background-repeat: no-repeat;
}
header {
  background-color: #000;
  width: 100%;
  box-shadow: 1px 5px 10px #fc7c1c
}
header a {
  -webkit-text-stroke: 1px #000;
  color: #fdb37c !important;
  letter-spacing: 5px;
  cursor:pointer;
  text-transform:uppercase;
  transition: 1s;
}
header a:hover {
  color: #fff !important;
  text-shadow: 0 0 5px #fc7c1c,
  0 0 25px #fc7c1c,
  0 0 50px #fc7c1c,
  0 0 100px #fc7c1c;

}
#main {
  margin: 30px;
  padding:30px;
  background-color: #000;
  opacity:0.92;
}
#nos-text{
  color:#fff;
  text-shadow: 0 0 5px #fc7c1c,
  0 0 25px #fc7c1c,
  0 0 50px #fc7c1c,
  0 0 100px #fc7c1c;

}
#main h2 {
  color:#fff;
  text-shadow: 0 0 5px #fc7c1c,
  0 0 25px #fc7c1c,
  0 0 50px #fc7c1c,
  0 0 100px #fc7c1c;

}
    .testimotionals .card {
      
      position:relative;
      overflow:hidden;
      width:100%;
      height:25rem ;
      margin:0 auto;
      background:#333;
      padding:20px;
      box-sizing:border-box;
      text-align:center;
      box-shadow:0 10px 40px rgba(0,0,0,.5);
    }
    .testimotionals .card .layer {
      z-index:1;
      position:absolute;
      top:calc(100% - 2px);
      height:100%;
      width:100%;
      left:0;
      background:linear-gradient(to right , #974101, #fdb37c);
      transition:0.5s;
      
    }
    
    .testimotionals .card .content {
      z-index:2; 
      position:relative;
    }
    
    .testimotionals .card:hover  .layer{
      top:0;
    }
    
    .testimotionals .card .content p {
      line-height:24px;
      color:#000;
      height: 16vh;
      
    }
    .testimotionals .card .content .image {
      width:6rem; 
      height:100px;
      margin:0 auto;
      border-radius:50%;
      overflow:hidden;
      border: 4px solid white;
      box-shadow: 0 10px 40px rgba(0,0,0,0.5);
      
    }
    
    .testimotionals .card .conte nt .details p {
    color:white;
    margin-top: 30px;
    }
    .testimotionals .card .content .details p span {
    color:#fc7c1c;
      transition:0.5s;
      margin-top: 10px;
    
    }
    .testimotionals .card:hover .content .details p span {
      color:white;
      position:relative;
    }
    
    footer {
      background-color: black;
      color: #fff !important;
      text-shadow: 0 0 5px #fc7c1c,
      0 0 25px #fc7c1c,
      0 0 50px #fc7c1c,
      0 0 100px #fc7c1c;
      font-weight: bold;
      font-size: 1.2rem;
      text-decoration: none;
      -webkit-text-stroke: 1px black;
      box-shadow: 0px -5px 10px #fc7c1c ;
  }
  
  footer ul {
      list-style: none;
  }
  footer i {
      -webkit-text-stroke: 1px black;
      color:#fff;
      letter-spacing: 5px;
      cursor:pointer;
      text-transform:uppercase;
      transition: 1s;
  }
 
  footer a {
      text-decoration: none;
      -webkit-text-stroke: 1px black;
      color: #fff !important;
      letter-spacing: 5px;
      cursor:pointer;
      text-transform:uppercase;
      transition: 1s;
      font-size: 1rem;
  }
  
  footer a:hover {
      font-size: 1.1rem;
      color: #fff !important;
      text-shadow: 0 0 5px #fff,
      0 0 25px #fff,
      0 0 50px #fff,
      0 0 100px #fff;
  }
  footer .copy {
      color: #fff !important;
      cursor: none;
  }
  #Facebook {
      color: #fff !important;
      text-shadow: 0 0 5px #3b5998,
      0 0 25px #3b5998,
      0 0 50px #3b5998,
      0 0 100px #3b5998;
  }
  #Instagram {
      color: #fff !important;
      text-shadow: 0 0 5px #E1306C,
      0 0 25px #E1306C,
      0 0 50px #E1306C,
      0 0 100px #E1306C;
  }
  #Youtube {
      color: #fff !important;
      text-shadow: 0 0 5px #c4302b,
      0 0 25px #c4302b,
      0 0 50px #c4302b,
      0 0 100px #c4302b;
  }
  .navbar-toggler {
      background-color: #fc7c1c!important;
  }
  #Twitter {
      color: #fff !important;
      text-shadow: 0 0 5px #00acee,
      0 0 25px #00acee,
      0 0 50px #00acee,
      0 0 100px #00acee;
  }
  
  
  @media screen and (min-width:767px) {
      .navbar {
           font-size:1em!important;
       }
   }
  
  @media screen and (max-width:768px) {
     
      footer span {
          display:none;
      }
  }
